/*===========================
             Variables
  ===========================*/

/*====== Colors ======*/

// Main palette
$color-primary: ;
$color-secondary: ;
$color-accent: ;

// General use
$white: #fff;

// Images



/*====== Values ======*/

// Typography

// Media queries
$med: 768px;

// Dimensions


// Grid


// Buttons


// Nav


// Images


// Form